# Importing Datasets, Creating Dataframes

In [200]:
import pandas as pd 

#andrew data 
df_Andrew = pd.read_csv("AllData.csv")

# my data
df_demo = pd.read_csv("demographic_data_1999-2018.csv")
df_smoke =  pd.read_csv("smoker_BMI_1999-2012.csv")
df_temp =  pd.read_csv("seasonal_temp_data_2000-2016.csv")

# Cleaning Data

#### Demographics dataset

In [201]:
df_demo.shape #num col and rows

(64400, 23)

In [202]:
df_demo.isnull().sum() #finding num of null values in each column

FIPS                       0
NAME                       0
land_area                  0
Year                       0
hispanic_pct               0
poverty                    0
poverty_mcare              0
population                 0
median_house_value         0
blk_pct                    0
white_pct                  0
native_pct                 0
asian_pct                  0
no_grad                    0
no_grad_mcare              0
median_household_income    0
owner_occupied             0
median_age                 0
age_pct_0_14               0
age_pct_15_44              0
age_pct_45_65              0
age_pct_65_plus            0
population_density         0
dtype: int64

#### Smoker and BMI Dataset

In [203]:
df_smoke.isnull().sum()

FIPS          0
smoke_rate    0
mean_bmi      0
Year          0
dtype: int64

#### Seasonal Temperature Dataset

In [204]:
df_temp.isnull().sum()

FIPS           0
Year           0
summer_tmmx    0
summer_rmax    0
winter_tmmx    0
winter_rmax    0
dtype: int64

In [205]:
null_data = df_temp[df_temp.isnull().any(axis=1)]
null_data

Empty DataFrame
Columns: [FIPS, Year, summer_tmmx, summer_rmax, winter_tmmx, winter_rmax]
Index: []

In [206]:
df_temp.tail(10)

        FIPS  Year  summer_tmmx  summer_rmax  winter_tmmx  winter_rmax
52826  56045  2013   302.543090    84.750552   275.525154    88.322343
52827  56045  2009   299.556793    86.693135   274.957937    88.604659
52828  56045  2014   300.465174    88.794309   273.185700    88.921339
52829  56045  2003   302.725848    81.898169   276.552407    89.880545
52830  56045  2011   303.040872    80.565839   274.311765    91.037954
52831  56045  2010   301.114732    81.701815   272.677823    91.657441
52832  56045  2004   300.333252    82.415464   276.376402    91.688715
52833  56045  2001   302.989856    87.827050   273.017667    92.446597
52834  56045  2000   302.962976    88.463262   277.719079    93.810856
52835  56045  2008   301.387472    82.908433   273.646555    95.677348

# Merging Demographic Datasets with Disease & EPA Dataset

In [207]:
#first merging demographic data 
merge_1 = pd.merge(df_Andrew, df_demo, on = ['FIPS', 'Year'], how = 'outer')
merge_1

,Index,FIPS,Year,State,County,Population,Latitude,Longitude,Alzheimers Deaths,Cerebrovascular Disease Deaths,...,no_grad,no_grad_mcare,median_household_income,owner_occupied,median_age,age_pct_0_14,age_pct_15_44,age_pct_45_65,age_pct_65_plus,population_density
0,10001_1999,10001,1999,Delaware,Kent,125611.0,39.086,-75.5686,11.0,56.0,...,0.229205,0.385005,40971.57115,0.699697,34.402729,0.228104,0.443311,0.211740,0.116845,216.359829
1,10001_2000,10001,2000,Delaware,Kent,126697.0,39.086,-75.5686,NaN,59.0,...,0.229170,0.385239,40950.00000,0.699644,34.400000,0.228135,0.443365,0.211678,0.116822,216.277854
2,10001_2001,10001,2001,Delaware,Kent,129228.0,39.086,-75.5686,21.0,52.0,...,0.229308,0.384308,41035.78295,0.699854,34.410853,0.228011,0.443152,0.211925,0.116912,216.603847
3,10001_2002,10001,2002,Delaware,Kent,131824.0,39.086,-75.5686,13.0,77.0,...,0.229711,0.381599,41285.33333,0.700463,34.442424,0.227650,0.442535,0.212642,0.117173,217.552191
4,10001_2003,10001,2003,Delaware,Kent,134605.0,39.086,-75.5686,12.0,59.0,...,0.231153,0.371891,42179.55556,0.702647,34.555556,0.226356,0.440321,0.215213,0.118111,220.950423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76963,NaN,72153,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.378028,0.548678,15346.00000,0.781517,39.900000,0.183754,0.384888,0.266569,0.164789,596.516293
76964,NaN,72153,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.378278,0.542636,14708.00000,0.779588,40.800000,0.178624,0.379465,0.268709,0.173203,582.973538
76965,NaN,72153,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.358134,0.525883,14666.00000,0.777444,41.500000,0.172486,0.374361,0.270100,0.183053,568.869578
76966,NaN,72153,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.336229,0.511282,14451.00000,0.762397,42.100000,0.166103,0.369216,0.271305,0.193375,555.075757
76967,NaN,72153,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.331234,0.503043,14954.00000,0.754680,43.000000,0.159527,0.363567,0.274020,0.202887,538.151004

In [208]:
#merge w smoker data 

merge_2 = pd.merge(merge_1, df_smoke, on = ['FIPS', 'Year'], how = 'outer')
merge_2

,Index,FIPS,Year,State,County,Population,Latitude,Longitude,Alzheimers Deaths,Cerebrovascular Disease Deaths,...,median_household_income,owner_occupied,median_age,age_pct_0_14,age_pct_15_44,age_pct_45_65,age_pct_65_plus,population_density,smoke_rate,mean_bmi
0,10001_1999,10001,1999,Delaware,Kent,125611.0,39.086,-75.5686,11.0,56.0,...,40971.57115,0.699697,34.402729,0.228104,0.443311,0.211740,0.116845,216.359829,0.496359,26.175000
1,10001_2000,10001,2000,Delaware,Kent,126697.0,39.086,-75.5686,NaN,59.0,...,40950.00000,0.699644,34.400000,0.228135,0.443365,0.211678,0.116822,216.277854,0.477644,26.916820
2,10001_2001,10001,2001,Delaware,Kent,129228.0,39.086,-75.5686,21.0,52.0,...,41035.78295,0.699854,34.410853,0.228011,0.443152,0.211925,0.116912,216.603847,0.492404,27.259114
3,10001_2002,10001,2002,Delaware,Kent,131824.0,39.086,-75.5686,13.0,77.0,...,41285.33333,0.700463,34.442424,0.227650,0.442535,0.212642,0.117173,217.552191,0.523516,27.003968
4,10001_2003,10001,2003,Delaware,Kent,134605.0,39.086,-75.5686,12.0,59.0,...,42179.55556,0.702647,34.555556,0.226356,0.440321,0.215213,0.118111,220.950423,0.508160,27.536227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77129,NaN,54888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.375000,27.551875
77130,NaN,55888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.341463,26.813562
77131,NaN,56888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.442857,26.516286
77132,NaN,66888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333333,26.940000
77133,NaN,72888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,29.120000

In [209]:
merge_final = pd.merge(merge_2, df_temp, on = ['FIPS', 'Year'], how = 'outer')
merge_final

,Index,FIPS,Year,State,County,Population,Latitude,Longitude,Alzheimers Deaths,Cerebrovascular Disease Deaths,...,age_pct_15_44,age_pct_45_65,age_pct_65_plus,population_density,smoke_rate,mean_bmi,summer_tmmx,summer_rmax,winter_tmmx,winter_rmax
0,10001_1999,10001,1999,Delaware,Kent,125611.0,39.086,-75.5686,11.0,56.0,...,0.443311,0.211740,0.116845,216.359829,0.496359,26.175000,NaN,NaN,NaN,NaN
1,10001_2000,10001,2000,Delaware,Kent,126697.0,39.086,-75.5686,NaN,59.0,...,0.443365,0.211678,0.116822,216.277854,0.477644,26.916820,300.871385,97.113737,280.899815,83.363963
2,10001_2001,10001,2001,Delaware,Kent,129228.0,39.086,-75.5686,21.0,52.0,...,0.443152,0.211925,0.116912,216.603847,0.492404,27.259114,301.879445,93.109290,279.496177,85.721720
3,10001_2002,10001,2002,Delaware,Kent,131824.0,39.086,-75.5686,13.0,77.0,...,0.442535,0.212642,0.117173,217.552191,0.523516,27.003968,303.432069,92.771337,283.749106,84.896588
4,10001_2003,10001,2003,Delaware,Kent,134605.0,39.086,-75.5686,12.0,59.0,...,0.440321,0.215213,0.118111,220.950423,0.508160,27.536227,301.424064,96.215537,277.675487,85.997338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77129,NaN,54888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.375000,27.551875,NaN,NaN,NaN,NaN
77130,NaN,55888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.341463,26.813562,NaN,NaN,NaN,NaN
77131,NaN,56888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.442857,26.516286,NaN,NaN,NaN,NaN
77132,NaN,66888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.333333,26.940000,NaN,NaN,NaN,NaN
77133,NaN,72888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,29.120000,NaN,NaN,NaN,NaN

In [210]:
merge_final.info() #merge = successful!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77134 entries, 0 to 77133
Data columns (total 58 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Index                                                         75408 non-null  object
 1   FIPS                                                          77134 non-null  int64
 2   Year                                                          77134 non-null  int64
 3   State                                                         75408 non-null  object
 4   County                                                        75408 non-null  object
 5   Population                                                    63529 non-null  float64
 6   Latitude                                                      75384 non-null  float64
 7   Longitude                                                     75384 non-null  float64
 8   Alzheimers Deaths                                             31602 non-null  float64
 9   Cerebrovascular Disease Deaths                                45145 non-null  float64
 10  Chronic liver disease and cirrhosis Deaths                    15262 non-null  float64
 11  Chronic lower respiratory diseases Deaths                     45882 non-null  float64
 12  Diabetes Mellitus Deaths                                      30908 non-null  float64
 13  Essential hypertension and hypertensive renal disease Deaths  12274 non-null  float64
 14  Heart Disease Deaths                                          40235 non-null  float64
 15  Influenza and pneumonia Deaths                                25229 non-null  float64
 16  Malignant neoplasms (cancer) Deaths                           63463 non-null  float64
 17  Nephritis, nephrotic syndrome and nephrosis Deaths            21341 non-null  float64
 18  Parkinson_s Disease Deaths                                    11440 non-null  float64
 19  Septicemia Deaths                                             16611 non-null  float64
 20  CO 1-hour 1971                                                4709 non-null   float64
 21  CO 8-hour 1971                                                4709 non-null   float64
 22  Lead 3-Month 2009                                             1045 non-null   float64
 23  NO2 1-hour 2010                                               5783 non-null   float64
 24  NO2 Annual 1971                                               5784 non-null   float64
 25  Ozone 8-hour 2015                                             17503 non-null  float64
 26  PM10 24-hour 2006                                             9519 non-null   float64
 27  PM25 24-hour 2012                                             14211 non-null  float64
 28  PM25 Annual 2012                                              14211 non-null  float64
 29  SO2 1-hour 2010                                               7449 non-null   float64
 30  SO2 3-hour 1971                                               7449 non-null   float64
 31  NAME                                                          64400 non-null  object
 32  land_area                                                     64400 non-null  float64
 33  hispanic_pct                                                  64400 non-null  float64
 34  poverty                                                       64400 non-null  float64
 35  poverty_mcare                                                 64400 non-null  float64
 36  population                                                    64400 non-null  float64
 37  median_house_value                                            64400 non-null  float64
 38  blk_pct                                                       64400 non-null  float64
 39  white_pct                                                     64400 non-null  float64
 40  native_pct                                                    64400 non-null  float64
 41  asian_pct                                                     64400 non-null  float64
 42  no_grad                                                       64400 non-null  float64
 43  no_grad_mcare                                                 64400 non-null  float64
 44  median_household_income                                       64400 non-null  float64
 45  owner_occupied                                                64400 non-null  float64
 46  median_age                                                    64400 non-null  float64
 47  age_pct_0_14                                                  64400 non-null  float64
 48  age_pct_15_44                                                 64400 non-null  float64
 49  age_pct_45_65                                                 64400 non-null  float64
 50  age_pct_65_plus                                               64400 non-null  float64
 51  population_density                                            64400 non-null  float64
 52  smoke_rate                                                    22062 non-null  float64
 53  mean_bmi                                                      22062 non-null  float64
 54  summer_tmmx                                                   52836 non-null  float64
 55  summer_rmax                                                   52836 non-null  float64
 56  winter_tmmx                                                   52836 non-null  float64
 57  winter_rmax                                                   52836 non-null  float64
dtypes: float64(52), int64(2), object(4)
memory usage: 34.7+ MB

In [211]:
merge_final.tail()

,Index,FIPS,Year,State,County,Population,Latitude,Longitude,Alzheimers Deaths,Cerebrovascular Disease Deaths,...,age_pct_15_44,age_pct_45_65,age_pct_65_plus,population_density,smoke_rate,mean_bmi,summer_tmmx,summer_rmax,winter_tmmx,winter_rmax
77129,NaN,54888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.375000,27.551875,NaN,NaN,NaN,NaN
77130,NaN,55888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.341463,26.813562,NaN,NaN,NaN,NaN
77131,NaN,56888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.442857,26.516286,NaN,NaN,NaN,NaN
77132,NaN,66888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.333333,26.940000,NaN,NaN,NaN,NaN
77133,NaN,72888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,29.120000,NaN,NaN,NaN,NaN

# Sorting Data

In [212]:
merge_final.sort_values(by=['FIPS', 'Year'])

,Index,FIPS,Year,State,County,Population,Latitude,Longitude,Alzheimers Deaths,Cerebrovascular Disease Deaths,...,age_pct_15_44,age_pct_45_65,age_pct_65_plus,population_density,smoke_rate,mean_bmi,summer_tmmx,summer_rmax,winter_tmmx,winter_rmax
72,1001_1999,1001,1999,Alabama,Autauga,42963.0,32.5349,-86.6427,NaN,29.0,...,0.435374,0.225041,0.101937,73.484712,NaN,NaN,NaN,NaN,NaN,NaN
73,1001_2000,1001,2000,Alabama,Autauga,43671.0,32.5349,-86.6427,12.0,28.0,...,0.435415,0.225001,0.101921,73.465322,NaN,NaN,307.273692,95.056772,290.079938,85.639748
74,1001_2001,1001,2001,Alabama,Autauga,44889.0,32.5349,-86.6427,NaN,18.0,...,0.435254,0.225162,0.101985,73.542432,NaN,NaN,304.385060,99.043182,286.548225,88.898302
75,1001_2002,1001,2002,Alabama,Autauga,45909.0,32.5349,-86.6427,NaN,22.0,...,0.434787,0.225632,0.102170,73.766750,NaN,NaN,305.201921,97.726810,288.728068,86.141829
76,1001_2003,1001,2003,Alabama,Autauga,46800.0,32.5349,-86.6427,16.0,26.0,...,0.433112,0.227317,0.102834,74.570557,NaN,NaN,303.722675,98.872965,286.703221,83.966630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76992,NaN,78030,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.207360,27.508201,NaN,NaN,NaN,NaN
76996,NaN,78030,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.182438,27.802721,NaN,NaN,NaN,NaN
76999,NaN,78030,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.174455,27.472182,NaN,NaN,NaN,NaN
77002,NaN,78030,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.188871,27.824835,NaN,NaN,NaN,NaN
77005,NaN,78030,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.168264,28.106223,NaN,NaN,NaN,NaN

In [213]:
counties = df_smoke.shape[0] / 16
counties

1378.875

In [214]:
merge_final.isnull().sum()

Index                                                            1726
FIPS                                                                0
Year                                                                0
State                                                            1726
County                                                           1726
Population                                                      13605
Latitude                                                         1750
Longitude                                                        1750
Alzheimers Deaths                                               45532
Cerebrovascular Disease Deaths                                  31989
Chronic liver disease and cirrhosis Deaths                      61872
Chronic lower respiratory diseases Deaths                       31252
Diabetes Mellitus Deaths                                        46226
Essential hypertension and hypertensive renal disease Deaths    64860
Heart Disease Deaths                                            36899
Influenza and pneumonia Deaths                                  51905
Malignant neoplasms (cancer) Deaths                             13671
Nephritis, nephrotic syndrome and nephrosis Deaths              55793
Parkinson_s Disease Deaths                                      65694
Septicemia Deaths                                               60523
CO 1-hour 1971                                                  72425
CO 8-hour 1971                                                  72425
Lead 3-Month 2009                                               76089
NO2 1-hour 2010                                                 71351
NO2 Annual 1971                                                 71350
Ozone 8-hour 2015                                               59631
PM10 24-hour 2006                                               67615
PM25 24-hour 2012                                               62923
PM25 Annual 2012                                                62923
SO2 1-hour 2010                                                 69685
SO2 3-hour 1971                                                 69685
NAME                                                            12734
land_area                                                       12734
hispanic_pct                                                    12734
poverty                                                         12734
poverty_mcare                                                   12734
population                                                      12734
median_house_value                                              12734
blk_pct                                                         12734
white_pct                                                       12734
native_pct                                                      12734
asian_pct                                                       12734
no_grad                                                         12734
no_grad_mcare                                                   12734
median_household_income                                         12734
owner_occupied                                                  12734
median_age                                                      12734
age_pct_0_14                                                    12734
age_pct_15_44                                                   12734
age_pct_45_65                                                   12734
age_pct_65_plus                                                 12734
population_density                                              12734
smoke_rate                                                      55072
mean_bmi                                                        55072
summer_tmmx                                                     24298
summer_rmax                                                     24298
winter_tmmx                                                     24298
winter_rmax                                                     24298
dtype: int64

In [215]:
merge_final.tail(166)

,Index,FIPS,Year,State,County,Population,Latitude,Longitude,Alzheimers Deaths,Cerebrovascular Disease Deaths,...,age_pct_15_44,age_pct_45_65,age_pct_65_plus,population_density,smoke_rate,mean_bmi,summer_tmmx,summer_rmax,winter_tmmx,winter_rmax
76968,NaN,12025,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.356383,26.222610,NaN,NaN,NaN,NaN
76969,NaN,12025,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.372981,26.409576,NaN,NaN,NaN,NaN
76970,NaN,46113,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.647059,28.598039,NaN,NaN,NaN,NaN
76971,NaN,12025,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.415225,26.127522,NaN,NaN,NaN,NaN
76972,NaN,78010,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.247596,27.218086,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77129,NaN,54888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.375000,27.551875,NaN,NaN,NaN,NaN
77130,NaN,55888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.341463,26.813562,NaN,NaN,NaN,NaN
77131,NaN,56888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.442857,26.516286,NaN,NaN,NaN,NaN
77132,NaN,66888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.333333,26.940000,NaN,NaN,NaN,NaN
77133,NaN,72888,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,29.120000,NaN,NaN,NaN,NaN

In [216]:
merge_final.shape

(77134, 58)

In [217]:
77134 - 76968

166

In [218]:
merge_final.drop(merge_final.tail(166).index, inplace = True)
merge_final

,Index,FIPS,Year,State,County,Population,Latitude,Longitude,Alzheimers Deaths,Cerebrovascular Disease Deaths,...,age_pct_15_44,age_pct_45_65,age_pct_65_plus,population_density,smoke_rate,mean_bmi,summer_tmmx,summer_rmax,winter_tmmx,winter_rmax
0,10001_1999,10001,1999,Delaware,Kent,125611.0,39.086,-75.5686,11.0,56.0,...,0.443311,0.211740,0.116845,216.359829,0.496359,26.175000,NaN,NaN,NaN,NaN
1,10001_2000,10001,2000,Delaware,Kent,126697.0,39.086,-75.5686,NaN,59.0,...,0.443365,0.211678,0.116822,216.277854,0.477644,26.916820,300.871385,97.113737,280.899815,83.363963
2,10001_2001,10001,2001,Delaware,Kent,129228.0,39.086,-75.5686,21.0,52.0,...,0.443152,0.211925,0.116912,216.603847,0.492404,27.259114,301.879445,93.109290,279.496177,85.721720
3,10001_2002,10001,2002,Delaware,Kent,131824.0,39.086,-75.5686,13.0,77.0,...,0.442535,0.212642,0.117173,217.552191,0.523516,27.003968,303.432069,92.771337,283.749106,84.896588
4,10001_2003,10001,2003,Delaware,Kent,134605.0,39.086,-75.5686,12.0,59.0,...,0.440321,0.215213,0.118111,220.950423,0.508160,27.536227,301.424064,96.215537,277.675487,85.997338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76963,NaN,72153,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.384888,0.266569,0.164789,596.516293,NaN,NaN,NaN,NaN,NaN,NaN
76964,NaN,72153,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.379465,0.268709,0.173203,582.973538,NaN,NaN,NaN,NaN,NaN,NaN
76965,NaN,72153,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.374361,0.270100,0.183053,568.869578,NaN,NaN,NaN,NaN,NaN,NaN
76966,NaN,72153,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.369216,0.271305,0.193375,555.075757,NaN,NaN,NaN,NaN,NaN,NaN
76967,NaN,72153,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.363567,0.274020,0.202887,538.151004,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
merge_final.shape

(76968, 58)

In [220]:
del merge_final['Index'] #deleting the Index column
del merge_final['NAME']
merge_final

,FIPS,Year,State,County,Population,Latitude,Longitude,Alzheimers Deaths,Cerebrovascular Disease Deaths,Chronic liver disease and cirrhosis Deaths,...,age_pct_15_44,age_pct_45_65,age_pct_65_plus,population_density,smoke_rate,mean_bmi,summer_tmmx,summer_rmax,winter_tmmx,winter_rmax
0,10001,1999,Delaware,Kent,125611.0,39.086,-75.5686,11.0,56.0,14.0,...,0.443311,0.211740,0.116845,216.359829,0.496359,26.175000,NaN,NaN,NaN,NaN
1,10001,2000,Delaware,Kent,126697.0,39.086,-75.5686,NaN,59.0,15.0,...,0.443365,0.211678,0.116822,216.277854,0.477644,26.916820,300.871385,97.113737,280.899815,83.363963
2,10001,2001,Delaware,Kent,129228.0,39.086,-75.5686,21.0,52.0,13.0,...,0.443152,0.211925,0.116912,216.603847,0.492404,27.259114,301.879445,93.109290,279.496177,85.721720
3,10001,2002,Delaware,Kent,131824.0,39.086,-75.5686,13.0,77.0,17.0,...,0.442535,0.212642,0.117173,217.552191,0.523516,27.003968,303.432069,92.771337,283.749106,84.896588
4,10001,2003,Delaware,Kent,134605.0,39.086,-75.5686,12.0,59.0,19.0,...,0.440321,0.215213,0.118111,220.950423,0.508160,27.536227,301.424064,96.215537,277.675487,85.997338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76963,72153,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.384888,0.266569,0.164789,596.516293,NaN,NaN,NaN,NaN,NaN,NaN
76964,72153,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.379465,0.268709,0.173203,582.973538,NaN,NaN,NaN,NaN,NaN,NaN
76965,72153,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.374361,0.270100,0.183053,568.869578,NaN,NaN,NaN,NaN,NaN,NaN
76966,72153,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.369216,0.271305,0.193375,555.075757,NaN,NaN,NaN,NaN,NaN,NaN
76967,72153,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.363567,0.274020,0.202887,538.151004,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
merge_final.to_csv("Merged_Data.csv")